
//
// VARIABLES
//

// Colors
$blue: #5b6cff;

// Grays
$black: #0f1223;
$darkerGray: #1c2340;
$darkGray: #2d365e;
$gray: #5f6888;
$lightGray: #e7ebff;
$white: #f8faff;

// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}
